//====================================================================================================

.header {
   background: #ffffff;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   &__container {
      @media (max-width: $mobile) {
         &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 64px;
            top: 0;
            left: 0;
            background-color: #fff;
         }
      }
   }

   &__content {
      @include adaptiveValue('margin-left', 195, 15, 1920, 1300, 3);
      margin-right: rem(15);
      max-width: rem(1110);
      gap: rem(30);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 5;
   }

   &__logo-menu-block {
      display: flex;
      @include adaptiveValue('gap', 180, 20, 1500, 767, 0);
      align-items: center;
      width: 100%;
      font-size: 18px;
      @media (max-width: $mobile) {
         padding: rem(9) rem(0);
         max-width: none;
         justify-content: space-between;
      }
   }

   &__logo {
      position: relative;
      z-index: 100;
   }

   &__menu {
      flex: auto;
      display: flex;
      @media (max-width: $mobile) {
         flex: none;
      }
   }

   &__button {
      // background: linear-gradient(110.12deg, #f33800 36.15%, #b00b01 74.94%);
      border-radius: 100px;
      padding: 11px 0px;
      color: #ffffff;
      width: 160px;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(128, 128, 128, 1) 54%);
      pointer-events: none;
      flex: none;
      // position: relative;
      // box-shadow: 0 5px 0px #3c354a;
      // &:active {
      //    box-shadow: 0 2px 0px #3c354a;
      //    top: 2px;
      // }
      // @media (min-width: $tablet) {
      //    &:hover {
      //       animation: backgroundDiscord 2s infinite linear;
      //    }
      // }
      // @keyframes backgroundWallet {
      //    50% {
      //       box-shadow: 0 200px 200px 200px #8345be inset, 0 -100px -170px -120px #ff5037 inset, 0 80px 30px 20px #8345be inset;
      //    }
      // }
      @media (max-width: $mobile) {
         justify-self: end;
         z-index: 2;
         display: block;
         margin: 0px auto 30px auto;
      }
   }
}
.menu {
   position: relative;
   &__icon {
   }

   &__body {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 30px;
      @media (max-width: $mobile) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background: #ffffff;
         transition: all 0.5s ease 0s;
         overflow: auto;
         padding-top: 200px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         flex-wrap: nowrap;
         .menu-open & {
            justify-content: flex-start;
            gap: 0;
            left: 0;
            transition: all 0.5s ease 0s;
         }
      }
   }

   &__dropdown {
      &:hover {
         @media (min-width: $mobile) {
            .menu__body-dropdown {
               visibility: visible;
               opacity: 1;
               transition: all 0.3s ease 0s;
               pointer-events: all;
            }
            .menu__head-dropdown {
               &::before {
                  transform: rotateX(-180deg);
                  transition: all 0.3s ease 0s;
               }
            }
         }
      }
      @media (max-width: $mobile) {
      }
   }

   &__head-dropdown {
      display: inline-flex;
      align-items: center;
      height: 64px;
      position: relative;
      &::before {
         transition: all 0.3s ease 0s;
         position: absolute;
         right: -10px;
         font-size: 12px;
         @media (max-width: $mobile) {
            display: none;
         }
      }
      @media (max-width: $mobile) {
         display: none;
         height: auto;
         margin: 0 auto;
         font-size: 25px;
      }
   }

   &__body-dropdown {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease 0s;
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      padding: 14px 14px;
      width: 175px;
      left: 0;
      top: calc(100% + rem(5));
      z-index: 20;
      @media (max-width: $mobile) {
         visibility: visible;
         opacity: 1;
         position: static;
         background-color: transparent;
         display: block;
         box-shadow: none;
         text-align: center;
         overflow: auto;
      }
   }

   &__dropdown-item {
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
   &__dropdown-link {
      text-align: left;
      text-transform: uppercase;
      @media (max-width: $mobile) {
         text-align: center;
      }
   }

   &__link {
      display: block;
      line-height: 100%;
      text-transform: uppercase;
      @media (max-width: $mobile) {
         font-size: 25px;
         text-align: center;
         padding: rem(10) rem(0) rem(10) rem(0);
      }
   }
   &__first-coin {
      display: none;

      @media (max-width: $mobile) {
         display: block;
         position: absolute;
         top: 140px;
         left: 20px;
         width: 71px;
         height: 71px;
      }
   }

   &__second-coin {
      display: none;
      @media (max-width: $mobile) {
         display: block;
         position: absolute;
         width: 71px;
         height: 71px;
         right: 20px;
         bottom: 140px;
      }
   }

   &__first-dot {
      display: none;
      @media (max-width: $mobile) {
         display: block;
         position: absolute;
         top: 96px;
         left: 34px;
      }
   }

   &__second-dot {
      display: none;
      @media (max-width: $mobile) {
         display: block;
         position: absolute;
         bottom: 96px;
         right: 34px;
      }
   }
}
.icon-menu {
   display: none;
   @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: rem(30);
      height: rem(18);
      cursor: pointer;
      z-index: 5;
      span,
      &::before,
      &::after {
         content: '';
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(2);
         background: linear-gradient(213.08deg, #febe01 28.11%, #f37502 96.2%);
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
         width: 15px;
         left: 0;
      }
      span {
         top: calc(50% - rem(1));
      }
      .menu-open & {
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }
         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
            width: 30px;
         }
      }
   }
}

//====================================================================================================
